.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.actions {
    display: flex;
    align-items: center;

    gap: 20px;
}

.list {
    padding: 0 0 10px 0;
    width: 100%;
    user-select: none;
    display: block;

    details {
        summary {
            font-size: 0.8125rem;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--secondary-foreground);
            cursor: pointer;
        }
    }

    &[data-empty="true"] {
        img {
            height: 120px;
            border-radius: var(--border-radius);
        }

        gap: 16px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &[data-mobile="true"] {
        padding-bottom: var(--bottom-navigation-height);
    }
}

.friend {
    width: 100%;
    height: 60px;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0 10px;

    &:hover {
        background: var(--secondary-background);

        :global(.button) {
            background-color: var(--primary-background);
        }
    }

    .name {
        flex-grow: 1;
        margin: 0 12px;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        text-overflow: ellipsis;
        overflow: hidden;

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .subtext {
            font-size: 12px;
            font-weight: 400;
            color: var(--tertiary-foreground);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .actions {
        display: flex;
        gap: 12px;

        .button {
            width: 36px;
            height: 36px;
            align-items: center;
            justify-content: center;

            &:hover.error {
                background: var(--error);
            }

            &:hover.success {
                background: var(--success);
            }
        }

        .inviteButton {
            font-size: 20px;
            line-height: 24px;
            width: 73.5px;
            height: 32px;
            border-radius: 5px;
            box-sizing: border-box;
            border: 1px solid #d8d8d8;
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            margin-left: 16px;

            display: flex;
            align-items: center;
            justify-content: center;
            // &.show {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.divider {
    width: 1px;
    height: 24px;
    background: var(--primary-background);
}

.title {
    flex-grow: 1;
}

.pending {
    padding: 12px;
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: row;
    border-radius: var(--border-radius);
    background: var(--secondary-background);
    margin-bottom: 4px;

    svg {
        flex-shrink: 0;
    }

    .avatars {
        display: flex;
        flex-shrink: 0;
        margin-inline-end: 15px;
        width: 45px;
        height: 45px;

        svg:not(:first-child) {
            position: relative;
            margin-left: -32px;
        }
    }

    .details {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        >div {
            font-size: 20px;
            font-weight: 800;
            display: flex;
            // gap: 6px;
            align-items: center;
            min-width: 0;

            .title {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            span {
                width: 1.5em;
                height: 1.5em;
                color: white;
                flex-shrink: 0;
                font-size: 20px;
                align-items: center;
                display: inline-flex;
                justify-content: center;
                background: var(--error);
                border-radius: var(--border-radius-half);
            }
        }

        .from {
            .user {
                font-weight: 600;
            }
        }

        >span {
            font-weight: 400;
            font-size: 18px;
            color: var(--tertiary-foreground);

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.add_firendWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
    height: 3.75rem;
    cursor: pointer;

    img {
        width: 4.5rem;
        height: 3.75rem;
        margin-right: 1.375rem;
        display: block;

        &:hover {
            opacity: 0.5;
        }
    }
}

.add_firend {
    width: 14.71875rem;
    height: 3.75rem;
    background-color: #2A2424;
    font-size: 1.25rem;
    padding: 10px 0;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

.list.isMicro {
    :global(summary .padding) {
        padding: 0 !important;

    }

    :global(summary .title1) {
        font-size: 16px !important;
    }

    .actions {}

    summary {
        display: none;
    }


    .pending {
        padding: 14px 20px;
        margin-bottom: 18px;

        .avatars {
            margin-right: 14px;
        }

        svg {
            width: 45px !important;
            height: 45px !important;
        }

        .subTitle {
            font-size: 18px;
            line-height: 19px;
            // font-weight: normal;
            color: #B9B8B8;
        }
    }
}

.friend.isMicro {
    padding: 0 6px;
    height: auto;

    svg {
        width: 60px !important;
        height: 60px !important;
    }

    .name {
        font-size: 22px;
        line-height: 26px;
        margin: 15px 15px 15px 22px;
        height: 60px;

        .subtext {
            font-size: 17px;
            line-height: 20px;
        }
    }
}

.friend.noHover:hover {
    background: none;
}

.paddingDetails {
    font-size: 20px;
    line-height: 29px;
    color: #B9B8B8;

    span {
        margin-left: 4px;
        font-size: 18px
    }
}

.passBtn {
    width: 105px;
    height: 54px;
    background: linear-gradient(180deg, #FED77D 0%, #FED06D 100%);
    box-shadow: inset 0px 0px 3.75px 0px rgba(147, 7, 7, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: normal;
    line-height: 30px;
    color: #15171D;
    position: relative;

    &::before {
        content: '';
        border-radius: 3.75px;
        background: linear-gradient(180deg, #FFB65A 0%, rgba(239, 176, 97, 0.00) 56%);
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        bottom: 0;
    }

    span {
        position: relative;
    }
}

.rejectBtn {
    width: 105px;
    height: 54px;
    background: linear-gradient(180deg, rgba(32, 22, 8, 0.53) 0%, rgba(51, 49, 60, 0.01) 100%);
    box-sizing: border-box;
    border-width: 1.5px;
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: normal;
    line-height: 30px;
    color: #FBD279;
    margin-left: 17px;
}

.incomingNum {
    width: 28px;
    height: 28px;
    background: #FF4714;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
}

.message {
    width: 1.5rem;
    height: 1.3125rem;
    transition: 0.2s all;

    &:hover {
        filter: invert(100%);
        cursor: pointer;
    }
}

.placeholder {
    width: 224px;
    margin: 42px auto;

    img {
        width: 100%;
    }
}