.RecruitCard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 556px;
    border-radius: 5px;
    background: rgba($color: #000000, $alpha: 0.4);
    box-sizing: border-box;
    border: 2px solid rgba($color: #979797, $alpha: 0.4);
    cursor: pointer;

    &.isSelf {
        cursor: default;
    }

    .vipRoomWrap {
        height: 32px;
        border-bottom: 1px solid rgba($color: #979797, $alpha: 0.4);
        position: relative;
    }

    .vipRoomInfo {
        position: absolute;
        left: -2px;
        top: -2px;
        width: 208px;
        height: 34px;
        background: url('https://img.war6sky.com/2023/11/98204655656c4c9e9c4bbec2ed1230d2.png') no-repeat center center / contain;
        display: flex;
        align-items: center;


        .roomNum {
            width: 90px;
            font-family: Oswald;
            font-size: 24px;
            text-align: center;
            line-height: 34px;
            font-feature-settings: "kern" on;
            color: #FFFFFF;
        }

        .roomRights {
            height: 100%;
            flex: 1;
            font-family: PingFang SC;
            font-size: 20px;
            font-weight: 500;
            line-height: 34px;
            text-align: center;
            color: #FFFFFF;
            border-left: 1px solid rgba($color: #D8D8D8, $alpha: 0.3);
        }
    }

    .row {
        padding-right: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 122px;
    }

    .imgWrap {
        width: 125px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid rgba($color: #979797, $alpha: 0.4);

        img {
            width: 100px;
            height: 100px;
        }
    }

    .infoWrap {
        flex: 1;
        width: 0;
        padding: 0 23px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .mapName {
            font-family: PingFangSC-Medium;
            font-size: 25px;
            font-weight: normal;
            line-height: 30px;
            color: #DBDCDC;
            display: flex;
            align-items: center;

            .ellipsis {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .fixed {
                flex: 0 0 auto;
                margin-left: 8px;
            }

            span {
                color: #EDCD7E;
            }
        }

        .otherInfo {
            font-family: PingFangSC-Regular;
            font-size: 22px;
            font-weight: normal;
            line-height: 30px;
            margin-top: 11px;
            display: flex;
            align-items: center;
            color: #B6B5AD;
            opacity: 0.5;

            div+div {
                margin-left: 12px;
            }
        }
    }

    .joinBtn {
        width: 64px;
        height: 42px;
        border: 2px solid #EDCD7E;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: PingFangSC-Semibold;
        font-size: 24px;
        font-weight: normal;
        line-height: 30px;
        color: #EDCD7E;
    }
}

.RequestInvite {
    display: flex;
    align-items: center;
    width: 556px;
    border-radius: 5px;
    background: rgba($color: #000000, $alpha: 0.4);
    box-sizing: border-box;
    border: 2px solid rgba($color: #979797, $alpha: 0.4);
    cursor: pointer;
    padding: 20px 23px 20px 40px;

    &.isSelf {
        cursor: default;
    }

    .descWrap {
        flex: 1;
        flex-direction: column;
        align-items: flex-start;

        font-size: 22px;
        font-weight: 500;
        line-height: 38px;
        color: #FFA911;

        .title {
            font-size: 25px;
            color: #DBDCDC;
        }
    }

    .actionBtn {
        width: 64px;
        height: 42px;
        border: 2px solid #EDCD7E;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: PingFangSC-Semibold;
        font-size: 24px;
        font-weight: normal;
        line-height: 30px;
        color: #EDCD7E;
    }
}