.ProfileSetting {
    &.rewrite {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 950px;
        margin: 0;
        padding: 0;
        max-width: none;
        max-height: none;
        background: linear-gradient(180deg, rgba(27, 15, 14, 0.90) 0%, rgba(10, 9, 24, 0.50) 98%);
        box-sizing: border-box;
        border-radius: 0;
        backdrop-filter: blur(10px);
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 33.75px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 275px;
            background: url('https://skyvs.oss-cn-hangzhou.aliyuncs.com/resources/images/IM-Bg.jpeg') no-repeat center center / cover;
        }

        >div {
            position: relative;
        }
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        font-size: 22px;
        font-weight: normal;
        line-height: 22px;
        letter-spacing: 0px;

        color: #DCDCDB;
    }

    .body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .column {
        display: flex;
        align-items: center;
        flex-direction: column;


        svg {
            width: 175px !important;
            height: 175px !important;
        }

        .textArea {
            width: 282px;
            height: 174px !important;
            font-size: 0.9375rem;
            line-height: 1.8rem;
        }

        input {
            margin: 23.25px 0;

            &:hover {
                background: #1e1e1e;
            }
        }

        &+.column {
            flex: 1;
            align-self: stretch;
            margin-left: 40px;
        }
    }

    .saveButton {
        align-self: flex-end;
        font-size: 25px;
        font-weight: normal;
        line-height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FBD279;
        width: 163px;
        height: 70px;
        margin-top: 30px;
        margin-bottom: 5.25px;
    }

    .avatarList {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 350px;
        overflow-y: scroll;
    }

    .avatarItem {
        width: 98px;
        height: 98px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 17px;
        margin-bottom: 30px;
        cursor: pointer;
        border-radius: 100%;

        &.selected {
            background: #f6bf6b;
        }

        img {
            width: 90px;
            height: 90px;
            border-radius: 100%;
        }
    }

    .tabWrap {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        padding-top: 71.5px;
        padding-left: 15px;
        margin-bottom: 30px;

        .tabItem {
            font-size: 22px;
            font-weight: normal;
            line-height: 34.5px;
            letter-spacing: 0px;
            padding-bottom: 4px;
            position: relative;

            color: #FEBD5A;
            padding: 0 4.125px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 4px;
                background: #FEBD5A;
            }
        }
    }
}